page-financeiro {
    @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Lato');
    ion-title {
        font-family: 'Playfair Display SC', serif;
    }
    .pg-descricao {
        margin-top: 10px;
        color: white;
    }
    .scroll-content {
        background-color: #222;
    }
}
